## Build results
[Bb]in/
[Oo]bj/
publish/
dist/
*.user
*.suo
*.userosscache
*.sln.docstates
*.log
*.zip
**/payload.zip

# Android Build artifacts
.gradle/
build/
app/build/
*.dex
*.apk
*.aab
*.keystore
local.properties
.cxx/
captures/

# Visual Studio / VS Code
.vs/
.vscode/
*.DotSettings.user
.idea/
*.iml

# OS Generated
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
